 /* Styles included inline since you'll probably be deleting this page anyway */
    html,body
    {
        text-align:left;
        font-size:1em
    }
    html,body,img,form,textarea,input,fieldset,div,p,div,ul,li,ol,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,code
    {
        margin:0;
        padding:0
    }
    ul,li
    {
        list-style:none
    }
    img
    {
        display:block
    }
    a img
    {
        border:0
    }
    a
    {
        text-decoration:none;
        font-weight:normal;
        font-family:inherit
    }
    *:active,*:focus
    {
        outline:0;
        -moz-outline-style:none
    }
    h1,h2,h3,h4,h5,h6
    {
        font-weight:normal
    }
    div.clear
    {
        clear:both
    }
    .clearfix:after
    {
        clear:both;
        content:".";
        display:block;
        font-size:0;
        height:0;
        line-height:0;
        visibility:hidden
    }
    body
    {
        font-family:"Open Sans",Arial,sans-serif;
        font-weight:300;
        font-size:15px;
        color: white;
    }
    h1
    {
        color:#0c8da0;
        font-size:2em;
        font-weight:300
    }
    h2
    {
        font-size:1.5em;
        font-weight:300;
        margin-top:4%
    }
    h3
    {
        font-size:1.25em;
        font-weight:300;
        font-style:italic;
        margin-bottom:5px
    }
    h4
    {
        color:#0c8da0;
        font-weight:300;
        font-size:1.5em
    }
    ul
    {
        margin-top:5%;
        margin-bottom:5%
    }
    a
    {
        text-decoration:none;
        color:inherit
    }
    p
    {
        margin-bottom:7px;
        font-size:.9em
    }
    input
    {
        width: 180px;
        margin-bottom: 10px;
        height: 20px;
        border: none;
        border-radius: 5px;
        color: #0c8da0;
    }
    button
    {
        border-radius: 20%;
        background-color: #0c8da0;
        color: white;
        border: none;
        height: 30px;
        cursor: pointer;
        margin-top: 5px;
    }

    .red 
    {
        color: red;
    }
    .green
    {
        color: green;
    }
    .container
    {
        width:70%;
        margin:0 auto;
        padding:0 4%
    }
    .top-bar
    {
        position:relative;
        padding-top:10px;
        background-color:#001c20;
        height:55px
    }
    .top-bar input
    {
        padding: 5px;   
        margin-top: 5px;  
        width: 100px;  
    }
    .top-bar #main-title
    {
        float: left;
    }
    .top-bar #connexion
    {
        float: right;
    }
    .top-bar button
    {
        width: 40px;
    }
    .main
    {
        float:left;
        width:60%;
        height:555px;
        margin-top:50px
    }
    .steps
    {
        height:250px
    }
    .side-bar
    {
        width:34%;
        min-height:555px;
        height: 100%;
        float:left;
        border-left:1px solid #0c8da0;
        border-right:1px solid #0c8da0;
        background-image: url("/images/bgPlaneteRender.png");
        padding-top:50px;
    }

    .side-bar h4
    {
        margin: 0 auto;
        width: 175px;
    }

    .side-bar ul
    {
        margin-bottom:10%;
        margin: 0 auto;
        margin-bottom: 75px;
    }
    .side-bar ul li
    {
        margin-top:5px;
        margin-bottom:.25em
    }
    .side-bar ul li a
    {
        margin-bottom:.25em
    }

    .side-bar #bilans
    {
        width: 85%;
        height: 235px;
        margin: 0 auto;
        /*background-image: url("/images/bgPlaneteRender.png");*/
        border-radius: 15px;
        padding: 0px 10px;
        font-family: consolas;
    }

    .side-bar #bilans ul
    {
        border-bottom: 2px solid silver;
        height: 30px;
        margin-bottom: 0;
    }

    .side-bar #bilans ul li
    {
        float: left;
        display: block;
        padding: 7px 5px;
        cursor: pointer;
        border-radius: 5px 5px 0 0;
        margin-right: 3px;
        font-size: 11px;
    }

    .side-bar #bilans ul li:hover
    {
        background-image: url("/images/bgPlaneteRender.png");
        padding: 6px 5px;
    }

    .side-bar #bilans ul li.active:hover
    {
        padding: 6px 5px;
    }
    .side-bar #bilans ul li.active
    {
        border: 1px solid silver;
        border-bottom-color: transparent;
        padding-bottom: 5px;
        display: block;
        /*background-image: url("/images/bgPlaneteRender.png");*/
        background-color: #000;
    }

    .side-bar #bilans .list-Bilans
    {
        width: 100%;
        border-collapse: collapse;
        height: 190px;
        overflow: auto;
        display: block;

    }
    .side-bar #bilans .list-Bilans::-webkit-scrollbar
    {
        width: 12px;
        line-height: 1;
        background: url(/images/bgPlaneteRender.png) repeat;
        color: white;
        border: 1px solid grey;
        border-radius: 9px;
        background-size: contain;
    }

    .side-bar #bilans .list-Bilans::-webkit-scrollbar-thumb 
    {                             /* Barre */
        border: solid 0 transparent;
        border-right-width: 1px;
        border-left-width: 1px;
        -webkit-border-radius: 9px;
        -webkit-box-shadow: inset 0 0 0 1px rgb(36,175,195), inset 0 0 0 6px rgb(1,44,50);
    }
    .side-bar #bilans .list-Bilans tr
    {
        cursor: pointer;
        border: 1px solid transparent;
        border-left: none;
        border-right: none;
    }
    .side-bar #bilans .list-Bilans tr td img
    {
        width: 16px;
        height: 16px;
        padding: 2px 8px;
    }
    .side-bar #bilans .list-Bilans tr:hover
    {
        background-image: url("/images/bgPlaneteRender.png");
        border: 1px solid grey;
        border-left: none;
        border-right: none;
    }
    .side-bar #bilans .list-Armees
    {
        width: 100%;
        display: none;
    }
    .side-bar #bilans .list-Espionnages
    {
        width: 100%;
        display: none;
    }
    .side-bar #bilans .list-Commerces
    {
        width: 100%;
        display: none;
    }

    .side-bar #bilans table
    {
        width: 100%;
        font-family: consolas;
        font-size: 11px;
    }

    #inscription
    {
        margin: 0 auto;
        width: 185px;
    }

    #inscription .label
    {
        font-weight: normal;
        width: 250px;
        display: block;
        float: left;
    }
    #inscription input
    {
        margin-bottom: 25px;
        padding: 5px;
        float right;
    }
    #inscription button
    {
        width: 80px;
        margin-left: 125px;
    }

    #planete
    {
        border: 1px solid grey;
        background-image: url("/images/bgPlaneteRender.png");
        font-family: "consolas";
        width: 555px;
        min-height: 500px;
        color: white;
        border-radius: 15px;
    }

    #planeteRender
    {
        width: 300px;
        height: 275px;
        float: left;
    }
    #planeteRender p
    {
        width: 100%;
        padding-top: 2px;
        text-align: center;
        padding-top: 15px;
    }

    #planete .infoPlanete
    {
        float: right;
        text-align: left;
        width: 250px;
        padding-top: 60px;
        font-weight: normal;
    }

    #planete .infoPlanete select, #macroEcran .groupePlanete select
    {
        width: 59px;
        padding: 1px 2px;
        font-size: 11px;
        line-height: 1;
        border: 0;
        border-radius: 0;
        height: 22px;
        -webkit-appearance: none;
        background: url(/images/picto_select.png) no-repeat right #000000;
        color: white;
        border: 1px solid #000000;
        border-radius: 9px;
        background-size: contain;
        margin-top: 5px;
    }

    #planete .link
    {
        font-size: 12px;
        float: right;
        margin-top: 60px;
        margin-right: 35px;
    }
    #planete .link:hover
    {
        text-decoration: underline;
    }

    #planete #batiments
    {
        min-height: 200px;
        width: 100%;
        clear: both;
        padding-top: 25px;
        padding-left: 15px;
    }

    #planete #batiments img
    {
        width: 84px;
        height: 84px;
        cursor: pointer;
        display: inline;
    }

    #planetes .planete
    {
        width: 100px;
        border: 1px solid grey;
        background-image: url("/images/bgPlaneteRender.png");
        text-align: center;
        border-radius: 15px;
        font-family: "consolas";
        padding: 10px 0;
        cursor: pointer;
        margin-right: 25px;
        float: left;    
        margin-bottom: 25px;
    }

    .DetailBatiment .Detail
    {
        min-height: 140px;
        display: block;
    }

    .DetailBatiment .Detail img
    {
        width: 120px;
        height: 120px;
        float: left;
    }

    .DetailBatiment .Detail p
    {
        padding: 25px;
        padding-left: 150px;
        padding-bottom: 0px;
        padding-top: 5px;
    }

    .DetailBatiment .Detail .temps
    {
        width: 100%; 
        text-align: center;
        display: block; 
        font-size: 20px !important;
    }

    .DetailBatiment .Up
    {
        cursor: pointer;
        border-radius: 5px;
        border: 1px solid grey;
        padding: 7px; 
        float: left;
        font-size: 15px !important;
        background-image: url('/images/bgPlaneteRender.png');
    }

    .DetailBatiment .Up img
    {
        width: 24px;
        height: 24px;
        float: left;
    }

    #macroEcran
    {
        width: 85%;
        height: 400px;
        background-image: url('/images/bgPlaneteRender.png'); 
        border-radius: 15px; 
        padding: 25px;
    }

    #DetailEcran
    {
        width: 85%;
        height: 190px;
        background-image: url('/images/bgPlaneteRender.png'); 
        border-radius: 15px; 
        padding: 25px;
    }

    #macroEcran span 
    {
        font-weight: normal;
        font-size: 13px;
    }

    #macroEcran .groupePlanete
    {
        min-height: 50px;
        font-family: consolas; 
        font-size: 12px;
    }

    #macroEcran .groupePlanete h2
    {
        margin-top: 0;
        margin-bottom: 2%;
    }

    #macroEcran .groupePlanete .planete
    {
        height: 50px;
        cursor: pointer;
        font-size: 13px;
        float: left;
        width: 105%;
    }

    #macroEcran .groupePlanete .planete span
    {
        padding-top: 24px;
        padding-left: 2px;
    }

    #macroEcran .groupePlanete .planete img 
    {
        width: 40px; 
        height: 40px;
        float: left;
        padding: 0;
    }
