<div class="top-bar">
    <div class="container clearfix">
        <h1 id="main-title">WarEmpire</h1>
        <div id="connexion">
            <input type="text" id="pseudo" name="pseudo" placeholder="pseudo"/>&nbsp;&nbsp;<input type="password" id="pass" name="pass" placeholder="Mot de passe"/>&nbsp;&nbsp;<button id="ConnexionButton">Go !</button>
        </div>
    </div>
</div>