<!-- Default home page -->
<link type="text/css" href='http://sailsjs.org/styles/fonts.css' rel='stylesheet'/>
<div class="container clearfix">
    <div class="main">
        <h4>Empire</h4><br />
        <div class="steps" id="planetes">
            <% 
            for(i=0; i<joueur.Planetes.length;i++)
            {
                %>
                <div class="planete" <%if(joueur.Planetes[i].Type == 1) { %> style="border-color: #235685" <%} else if  (joueur.Planetes[i].Type == 2) { %> style="border-color: #501000" <% } else { %> style="border-color: #125632" <% }%>>
                    <p><%= joueur.Planetes[i].Nom %></p>
                    <%= joueur.Planetes[i].Coordonnees %><br /> 
                    <% 
                    if(joueur.Planetes[i].Type == 1)
                    {
                        %>Urbanisée<%
                    }
                    else if(joueur.Planetes[i].Type == 2)
                    {
                        %>Minière<%
                    }
                    else
                    {
                        %>Agricoles<%
                    }
                    %>
                    <input type="hidden" name="id" id="id" value="<%= joueur.Planetes[i].idPlanetes %>" />
                </div>
                <%
            }
            %>
        </div>
    </div>
    <%- partial('partials/TdB') %>
</div>
<script type="text/javascript">
//Appel ajax qui envoi username et passowrd à la page login en 
    //en post pour connection
    function redirect(test) {
        var id = $(test).find("#id").val();
        window.location = "/micro/"+id;
    }
    //Mise en place de l'event
    $(".planete").click(function () {
        redirect(this);
    });
</script>

